* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    text-decoration: wavy;
    font-size: 60px;
    font-style: normal;
    color:chartreuse;
}

img {
    width: 90%;
}

#banner {
    width: 1170px;
    position: relative;
    margin: 50px auto;
}

#banner .arrows span {
    position: absolute;
    top: 35%;
    z-index: 999;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:brown;
    font-size: 35px;
    font-weight: 700;
    display: inline-block;
    text-align: center;
    line-height: 40px;
}

#banner .arrows .prevArrow {
    left: -40px;
}

#banner .arrows .nextArrow {
    right: 0px;
}

#banner .slick-dots {
    list-style: none;
    text-align: center;
}

#banner .slick-dots li {
    display: inline-block;
    margin: 30px 10px;
}

#banner .slick-dots li button {
    border: none;
    outline: none;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:cornflowerblue;
    color: transparent;
}

#banner .slick-dots li.slick-active button {
    background-color:darkorange;
}